.App {
  text-align: center;
}
.container{
height: 30%;
display: block;
}

.cont{
height: 20%;
}

img {
  display: block;
  margin: auto;
  /*para centrar el bloque*/
}

.App-logo {
  height: 30vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
