.App {
  width: 99%;
  margin: 0 auto;
  /*centraelbody*/
}

header {
  height: 35%;
  padding: 3vw;
  margin: 4vw;
}

img {
  width: 100%;
  height: auto;
}

#section1 {
  height: 40%;
  padding: 4vw;
  margin: 4vw;
  display: block;
  text-align: center;
}

p {
  padding: 2vw;
}

h2 {
  text-align: center;
}

section a img {
  width: 35%;
  height: auto;
}

#section2 {
  height: 25%;
  padding: 4vw;
  margin: 4vw;
  display: block;
  text-align: center;
}

#enli1 {
  display: inline-block;
  text-align: left;
  width: 40%;
}

#enli2 {
  display: inline-block;
  text-align: right;
  width: 40%;
}

footer {
  height: 15%;
  padding: 1vw;
  margin: 2vw;
  text-align: center;
}

footer a img {
  width: 15%;
  height: auto;
}